.container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  line-height: 1.5em;
  color: var(--white-gray);
  font-weight: 400;
}