.nav {
  display: grid;
  flex-wrap: nowrap;
  grid-template-columns: repeat(2, auto);
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;


  &__logo {
    display: block;
    justify-self: center;
  }

  &__list {
    grid-column: 2/3;
    justify-self: center;
    display: flex;
    flex-flow: row wrap;
    max-width: 500px;
  }

  &__item {
    height: 100%;
  }

  &__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    min-height: 60px;
    min-width: 50px;
    font-size: 14px;
    line-height: 1.5em;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--sky-blue);
    transition: .3s linear;

    &--active,
    &:hover {
      color: moccasin;
      background-color: steelblue;
      box-shadow: 90px 0 0 0 rgba(0, 0, 0, .3) inset;
    }
  }
}





