.posts {

  &__title {
    font-size: 20px;
    font-weight: 500;
    color: var(--sky-blue);
  }

  &__titlePost {
    font-size: 20px;
    line-height: 1em;
    color: var(--sky-blue);
    cursor: pointer;
  }
}

.postsGrid {
  padding: 30px 20px 0 20px;
  min-width: 800px;
  background-color: var(--white);
  @apply grid grid-cols-1 rounded-md;

  .posts__titlePost {
    @apply text-lg text-sky-700
  }

  .postLoadingMessage {
    @apply text-center text-[#0b476a]
  }

  .postsList {
    @apply mb-[35px]
  }

  .postItem {
    @apply mb-[10px] px-5 py-2 grid grid-cols-gridLi gap-4 items-center justify-between  min-h-[30px] border-2 border-sky-700 rounded-lg
    hover:-translate-y-1 hover:scale-110 hover:bg-white hover:shadow-2xl hover:border-[#4628ff] active:opacity-20
  }

  .postDelete {
    @apply justify-self-end box-border min-w-max  w-24 h-7 text-amber-50 bg-sky-700  rounded-2xl hover:-translate-y-1 hover:bg-teal-600 hover:text-sky-700 hover:border-sky-900 hover:drop-shadow-md
  }

  .postsMessage {
    @apply text-center text-2xl text-sky-700 font-medium
  }
}



