.posts {

  &__title {
    font-size: 20px;
    font-weight: 500;
    color: var(--sky-blue);
  }

  &__titlePost {
    font-size: 20px;
    line-height: 1em;
    color: var(--sky-blue);
    cursor: pointer;
  }
}